* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: monospace;
    font-size: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 30px;
}

main {
    min-height: 100vh;
}

.logo {
    width: 10%;
}

a {
    margin-left: 30px;
}

a:hover {
    background-color: rgba(137, 128, 117, 0.355);
    border-radius: 10px;
}

.text-center {
    background-image: url("https://www.shutterstock.com/image-illustration/sweet-pastel-beautiful-painted-surface-260nw-776851264.jpg");
    background-size: 180vh;
    background-repeat: no-repeat;
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-family: monospace;
    font-size: 10vh;
    color: rgb(255, 255, 255);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 2px;
}

.box-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    height: 18rem;
    width: 18rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
}

.card-body {
    background-color: rgba(36, 14, 234, 0.186);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    align-items: center;
}

.card-title,
.card-text {
    text-align: center;
}

.box-contact {
    width: 30%;
    border: 1px solid rgba(64, 61, 60, 0.291);
    padding: 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 8%;
}

#btn {
    background-color: rgba(0, 0, 255, 0.698);
    color: aliceblue;
    border-radius: 5px;
    padding: 6px;
    text-decoration: none;
}

table {
    width: 130vh;
    height: 50vh;
    margin: auto;
    margin-top: 3%;
}

table tr {
    border: 1px solid rgb(23, 22, 22);
    border-top: 1px solid rgb(35, 36, 35);
}

table td {
    padding: 4px;
    border-left: 1px solid rgb(35, 36, 35);
    background-color: rgba(233, 147, 27, 0.395);
}
#card-details{
    display: flex;
    justify-content: center;
}
#card-row{
    height: 50vh;
    width: 150vh;
}
#card-col{
    width: 80vh;
}
#card-col-2{
    width: 69vh;
    height: 50vh;
}
#card-body-2{
    background-color: rgb(237, 178, 178);
    height: 54vh;
    display: flex;
    justify-content: space-evenly;
}

footer {
    height: 10vh;
    background-color: rgba(177, 154, 237, 0.49);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.icons {
    width: 30rem;
    display: flex;
    justify-content: space-around;
}

.tittle-footer {
    font-size: 30px;
}